cloud_formation/misc_templates
cloud_formation/s3_lambda_sqs
cloud_formation/s3_lambda_ses/blogpost.md
cloud_formation/s3_lambda_ses/template-packaged.yaml
cloud_formation/s3_lambda_ses/lambda-notify/crhelper
cloud_formation/s3_lambda_ses/lambda-notify/crhelper-2.0.11.dist-info